@import "neat";
@import "bourbon/bourbon";
@import "base/base";

$section-padding: $base-spacing;
$angle-degree: 7deg;
$hero-view-height: 125vh;

@function fact($number) {
  $value: 1;
  @if $number > 0 {
    @for $i from 1 through $number {
      $value: $value * $i;
    }
  }
  @return $value;
}

@function pow($number, $exp) {
  $value: 1;
  @if $exp > 0 {
    @for $i from 1 through $exp {
      $value: $value * $number;
    }
  }
  @else if $exp < 0 {
    @for $i from 1 through -$exp {
      $value: $value / $number;
    }
  }
  @return $value;
}

@function pi() {
  @return 3.14159265359;
}

@function rad($angle) {
  $unit: unit($angle);
  $unitless: $angle / ($angle * 0 + 1);
  // If the angle has 'deg' as unit, convert to radians.
  @if $unit == deg {
    $unitless: $unitless / 180 * pi();
  }
  @return $unitless;
}

@function sin($angle) {
  $sin: 0;
  $angle: rad($angle);
  // Iterate a bunch of times.
  @for $i from 0 through 10 {
    $sin: $sin + pow(-1, $i) * pow($angle, (2 * $i + 1)) / fact(2 * $i + 1);
  }
  @return $sin;
}

div.contact-container {
  background-color: #181818;
  display: block;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;

  nav {
    position: relative;
    margin-bottom: $base-spacing;
    margin-right: $base-spacing;
  }

}

section.hero-image {
  @include grid-column(12);
  background-color: #181818;
  position: relative;
  z-index: 1;
  margin-bottom: $base-spacing * 3;

  figure {
    float: right;
    @include grid-column(12);
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin-bottom: 1em;


    img {
      width: 100%;
      z-index: 1;
      position: relative;
      display: block;
    }
  }

  p {
    color: white;
    z-index: 999999;
    position: relative;
    font-size: 2em;
    text-align: center;

    span {
      color: orange;
    }
  }

  @include grid-media($large-grid) {
    figure {
      border-left: 10px solid orange;
      padding-left: $base-spacing;
      height: 400px;

      img {
        top: -4em;
        position: absolute;
      }
    }

    p {
      position: absolute;
      bottom: 0;
      right: $small-spacing;
      text-align: right;
    }

    &:after{
      content: "";
      background: #181818;
      height: calc(#{sin(-$angle-degree)} * -100vw);
      transform: skewY(-$angle-degree);
      position: absolute;
      left: 0;
      right: 0;
      z-index: 2;
      margin-right: -100vw;
      margin-left: -100vw;
      bottom: (sin(-$angle-degree) * 45vw);
    }
  }
}

section.bio-examples {
  margin: ($base-spacing * 2) 0;

  iframe {
    max-width: 100%;
    margin: $small-spacing 0;
  }

  @include grid-media($large-grid) {
    iframe {
      margin: $small-spacing;
    }
  }
}

section.about-section {
  @include grid-column(12);
  position: relative;
  z-index: 3;

  section.bio {
    @include grid-column(12);
    color: white;
    z-index: 99999;

    h1 {
      font-weight: 800;
      text-transform: uppercase;
      color: orange;
    }

    p {
      line-height: 2;

      a {
        color: orange;
        text-decoration: none;

        &:hover {
          color: lighten(orange, 20);
        }
      }
    }
  }

  @include grid-media($large-grid) {
    section.bio {
      border-right: 10px solid orange;
      padding-right: $base-spacing;

      section.bio-examples {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;

        iframe {
          flex: 1;
        }
      }

      p {
        font-size: 1.25em;
      }
    }
  }
}
