button, [type='button'], [type='reset'], [type='submit'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 150ms ease;
  transition: background-color 150ms ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, [type='button']:hover, [type='reset']:hover, [type='submit']:hover {
    background-color: #11519a;
    color: #fff; }
  button:focus, [type='button']:focus, [type='reset']:focus, [type='submit']:focus {
    outline: 3px solid rgba(21, 101, 192, 0.6);
    outline-offset: 2px; }
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
      background-color: #1565c0; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 16px; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  -webkit-transition: border-color 150ms ease;
  transition: border-color 150ms ease;
  width: 100%; }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
    border-color: #b1b1b1; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
    border-color: #1565c0;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(21, 101, 192, 0.7);
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(21, 101, 192, 0.7);
    outline: none; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: 1px solid #ddd; }
  [type='color']::-webkit-input-placeholder, [type='date']::-webkit-input-placeholder, [type='datetime']::-webkit-input-placeholder, [type='datetime-local']::-webkit-input-placeholder, [type='email']::-webkit-input-placeholder, [type='month']::-webkit-input-placeholder, [type='number']::-webkit-input-placeholder, [type='password']::-webkit-input-placeholder, [type='search']::-webkit-input-placeholder, [type='tel']::-webkit-input-placeholder, [type='text']::-webkit-input-placeholder, [type='time']::-webkit-input-placeholder, [type='url']::-webkit-input-placeholder, [type='week']::-webkit-input-placeholder, input:not([type])::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #858585; }
  [type='color']:-ms-input-placeholder, [type='date']:-ms-input-placeholder, [type='datetime']:-ms-input-placeholder, [type='datetime-local']:-ms-input-placeholder, [type='email']:-ms-input-placeholder, [type='month']:-ms-input-placeholder, [type='number']:-ms-input-placeholder, [type='password']:-ms-input-placeholder, [type='search']:-ms-input-placeholder, [type='tel']:-ms-input-placeholder, [type='text']:-ms-input-placeholder, [type='time']:-ms-input-placeholder, [type='url']:-ms-input-placeholder, [type='week']:-ms-input-placeholder, input:not([type]):-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #858585; }
  [type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: #858585; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  width: 100%; }

[type="checkbox"]:focus,
[type="radio"]:focus,
[type="file"]:focus,
select:focus {
  outline: 3px solid rgba(21, 101, 192, 0.6);
  outline-offset: 2px; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html,
body {
  height: 100%; }

body {
  margin: 0;
  background-color: white;
  overflow-x: hidden;
  max-width: 100%; }

div.about-container {
  overflow-x: hidden; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 1.5em 0;
  table-layout: fixed;
  text-align: left;
  width: 100%; }

thead {
  line-height: 1.2;
  vertical-align: bottom; }

tbody {
  vertical-align: top; }

tr {
  border-bottom: 1px solid #ddd; }

th {
  font-weight: 600; }

th,
td {
  padding: 0.75em 0.75em 0.75em 0; }

html {
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.25em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #1565c0;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip: ink;
  -webkit-transition: color 150ms ease;
  transition: color 150ms ease; }
  a:hover {
    color: #104c90; }
  a:focus {
    outline: 3px solid rgba(21, 101, 192, 0.6);
    outline-offset: 2px; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  position: absolute;
  color: white;
  z-index: 99999;
  max-width: 980px;
  width: 100%; }
  nav a {
    margin: 0.75em;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5em;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6), 0 1px 2px rgba(0, 0, 0, 0.8); }
  nav a.active {
    border-bottom: 3px solid orange; }
  @media only screen and (min-width: 700px) {
    nav {
      margin: 1.5em; }
      nav a {
        margin-right: 3em; } }

section.hero-display {
  min-height: 125vh;
  position: relative;
  display: block;
  max-width: 100vw; }
  section.hero-display::after {
    clear: both;
    content: "";
    display: block; }
  section.hero-display figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 125vh;
    background-color: transparent; }
    section.hero-display figure video {
      position: absolute;
      z-index: 999;
      max-width: 999%;
      min-width: 100vw;
      height: 125vh; }
    section.hero-display figure header {
      text-align: center;
      font-size: 4em;
      color: white;
      font-weight: bold;
      z-index: 9999;
      text-transform: uppercase;
      margin-bottom: 25vh;
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 1px 2px rgba(0, 0, 0, 0.6);
      line-height: 0.88; }
      section.hero-display figure header small {
        color: white;
        z-index: 9999;
        font-size: 0.33em; }

section.white-section,
section.black-section,
section.first-white-section {
  position: relative; }
  section.white-section::after,
  section.black-section::after,
  section.first-white-section::after {
    clear: both;
    content: "";
    display: block; }
  section.white-section h1.date,
  section.black-section h1.date,
  section.first-white-section h1.date {
    font-weight: 800;
    font-size: 1.5em;
    letter-spacing: 2px;
    float: right;
    margin-top: 1.5em;
    position: absolute;
    top: -119.43196px;
    z-index: 9999; }
  section.white-section article,
  section.black-section article,
  section.first-white-section article {
    z-index: 99999;
    min-height: 230px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 3em auto; }
    section.white-section article::after,
    section.black-section article::after,
    section.first-white-section article::after {
      clear: both;
      content: "";
      display: block; }
    section.white-section article figure.mobile-figure,
    section.black-section article figure.mobile-figure,
    section.first-white-section article figure.mobile-figure {
      display: block; }
    section.white-section article figure.desktop-figure,
    section.black-section article figure.desktop-figure,
    section.first-white-section article figure.desktop-figure {
      display: none; }
    section.white-section article figure,
    section.black-section article figure,
    section.first-white-section article figure {
      z-index: 999999;
      overflow: hidden;
      position: relative; }
      section.white-section article figure img,
      section.black-section article figure img,
      section.first-white-section article figure img {
        max-width: 9999%;
        height: 200px; }
    section.white-section article section,
    section.black-section article section,
    section.first-white-section article section {
      height: 230px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column nowrap;
              flex-flow: column nowrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      font-size: 1.5em;
      z-index: 999999; }
      section.white-section article section a,
      section.black-section article section a,
      section.first-white-section article section a {
        text-decoration: none; }
      section.white-section article section header,
      section.black-section article section header,
      section.first-white-section article section header {
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: bold;
        margin-bottom: 1em; }
  section.white-section div.awards,
  section.black-section div.awards,
  section.first-white-section div.awards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    max-width: 50%; }
    section.white-section div.awards div.award,
    section.black-section div.awards div.award,
    section.first-white-section div.awards div.award {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center; }
      section.white-section div.awards div.award .left-leaf, section.white-section div.awards div.award .right-leaf,
      section.black-section div.awards div.award .left-leaf,
      section.black-section div.awards div.award .right-leaf,
      section.first-white-section div.awards div.award .left-leaf,
      section.first-white-section div.awards div.award .right-leaf {
        max-width: 24px;
        margin-left: 0.375em;
        margin-right: 0.375em;
        max-height: 48px; }
      section.white-section div.awards div.award p,
      section.black-section div.awards div.award p,
      section.first-white-section div.awards div.award p {
        font-size: 0.5em; }
  @media only screen and (min-width: 700px) {
    section.white-section:after,
    section.black-section:after,
    section.first-white-section:after {
      content: '';
      position: absolute;
      background-color: red;
      height: 349.43196px;
      width: 10px;
      z-index: 999;
      height: 720px;
      left: 50%; }
    section.white-section article,
    section.black-section article,
    section.first-white-section article {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap; }
      section.white-section article section,
      section.black-section article section,
      section.first-white-section article section {
        width: calc(50% - 30px);
        float: left;
        margin-left: 20px; }
      section.white-section article figure,
      section.black-section article figure,
      section.first-white-section article figure {
        width: calc(50% - 30px);
        float: left;
        margin-left: 20px; }
      section.white-section article figure.mobile-figure,
      section.black-section article figure.mobile-figure,
      section.first-white-section article figure.mobile-figure {
        display: none; }
      section.white-section article figure.desktop-figure,
      section.black-section article figure.desktop-figure,
      section.first-white-section article figure.desktop-figure {
        display: block; } }

section.white-section {
  padding: 1.5em;
  background-color: white; }
  section.white-section h1.date {
    right: 1.5em; }
    section.white-section h1.date:before {
      content: '';
      width: 0.5em;
      height: 0.5em;
      border-radius: 50%;
      background-color: orange;
      display: inline-block;
      margin-right: 0.75em; }
  section.white-section .white-section__text {
    text-align: center; }
  section.white-section article {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
    padding-bottom: 1.5em; }
    section.white-section article figure {
      margin-left: 0;
      margin-right: 0; }
  section.white-section section a {
    color: #181818; }
  section.white-section:before {
    content: "";
    background: white;
    height: 179.14793px;
    -webkit-transform: skewY(-7deg);
            transform: skewY(-7deg);
    position: absolute;
    left: 0;
    right: 0;
    z-index: 99;
    margin-right: -100vw;
    margin-left: -100vw;
    top: -119.43196px; }
  @media only screen and (min-width: 700px) {
    section.white-section .white-section__text {
      text-align: right;
      margin-left: -1em;
      margin-right: 1.85em; }
      section.white-section .white-section__text small {
        font-size: 0.75em; }
    section.white-section:after {
      background-color: orange;
      top: -119.43196px; } }

section.last-black-section:after {
  height: 100%; }

section.first-white-section {
  padding: 12.18693vw 1.5em;
  padding-top: 0;
  background-color: white; }
  section.first-white-section h1.date {
    top: -1.5em;
    right: 1.5em; }
  section.first-white-section:before {
    content: "";
    background: white;
    height: calc(-0.12187 * -100vw * 2);
    -webkit-transform: skewY(-7deg);
            transform: skewY(-7deg);
    position: absolute;
    left: 0;
    right: 0;
    z-index: 999;
    margin-right: -100vw;
    margin-left: -100vw;
    top: -12.18693vw; }
  @media only screen and (min-width: 700px) {
    section.first-white-section:after {
      height: 350px;
      background-color: orange;
      top: calc(1.5em * 2 + 11px); }
    section.first-white-section h1.date {
      top: -4.5em; } }

section.black-section {
  background-color: #181818;
  padding: 238.86391px 1.5em;
  margin-bottom: 1.5em;
  overflow: hidden;
  color: white; }
  section.black-section h1.date {
    left: 1.5em;
    top: 59.71598px; }
    section.black-section h1.date:after {
      content: '';
      width: 0.5em;
      height: 0.5em;
      border-radius: 50%;
      background-color: orange;
      display: inline-block;
      margin-left: 0.75em; }
  section.black-section section a {
    color: white; }
  section.black-section article {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
    margin-top: 1em;
    margin-bottom: 1em; }
  section.black-section:before {
    content: "";
    background: orange;
    height: 119.43196px;
    -webkit-transform: skewY(7deg);
            transform: skewY(7deg);
    position: absolute;
    left: 0;
    right: 0;
    z-index: 999;
    margin-right: -100vw;
    margin-left: -100vw;
    top: -59.71598px; }
  @media only screen and (min-width: 700px) {
    section.black-section article section.black-section__text {
      text-align: left; }
    section.black-section article figure img {
      float: right; }
    section.black-section:after {
      top: 0;
      background-color: white; } }

footer {
  margin-left: -20px;
  margin-right: -20px;
  width: calc(100% + 40px);
  background-color: #181818;
  padding: 4.5em 1.5em;
  color: white; }
  footer::after {
    clear: both;
    content: "";
    display: block; }
  footer a {
    color: white; }
  footer section.footer-links {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  footer section.footer-contact {
    margin-top: 3em;
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    footer section.footer-contact ul li strong {
      margin-right: 0.5em; }

footer.white {
  color: black !important;
  background-color: white; }
  footer.white a {
    color: black !important; }

nav.about-nav {
  position: relative;
  margin-bottom: 1.5em;
  margin-right: 1.5em; }

div.about-container {
  background-color: #181818;
  display: block;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden; }

section.hero-image {
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px;
  background-color: #181818;
  position: relative;
  z-index: 1;
  margin-bottom: 4.5em; }
  section.hero-image figure {
    float: right;
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin-bottom: 1em; }
    section.hero-image figure img {
      width: 100%;
      z-index: 1;
      position: relative;
      display: block; }
  section.hero-image p {
    color: white;
    z-index: 999999;
    position: relative;
    font-size: 2em;
    text-align: center; }
    section.hero-image p span {
      color: orange; }
  @media only screen and (min-width: 700px) {
    section.hero-image figure {
      border-left: 10px solid orange;
      padding-left: 1.5em;
      height: 400px; }
      section.hero-image figure img {
        top: -10em;
        position: absolute; }
    section.hero-image p {
      position: absolute;
      bottom: 0;
      right: 0.75em;
      text-align: right; }
    section.hero-image:after {
      content: "";
      background: #181818;
      height: calc(-0.12187 * -100vw);
      -webkit-transform: skewY(-7deg);
              transform: skewY(-7deg);
      position: absolute;
      left: 0;
      right: 0;
      z-index: 2;
      margin-right: -100vw;
      margin-left: -100vw;
      bottom: -5.48412vw; } }

section.about-section {
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px;
  position: relative;
  z-index: 3; }
  section.about-section section.bio {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
    color: white;
    z-index: 99999; }
    section.about-section section.bio h1 {
      font-weight: 800;
      text-transform: uppercase;
      color: orange; }
    section.about-section section.bio p {
      line-height: 2; }
  @media only screen and (min-width: 700px) {
    section.about-section section.bio {
      border-right: 10px solid orange;
      padding-right: 1.5em; }
      section.about-section section.bio p {
        font-size: 1.5em; } }

div.container {
  max-width: 960px;
  margin: 0 auto; }
  div.container::after {
    clear: both;
    content: "";
    display: block; }
