<article>
  <figure class="mobile-figure">
    <% link_to(link) do %>
      <%= image_tag image %>
    <% end %>
  </figure>

  <figure class="desktop-figure">
    <% link_to(link) do %>
      <%= image_tag image %>
    <% end %>
  </figure>

  <section class="black-section__text">
    <% link_to(link) do %>
      <header><%= title %></header>
    <% end %>
    <small><%= role %></small>
  </section>
</article>
