<footer>
  <section class="footer-links">
    <%= link_to 'About', 'about' %>
    <%= link_to 'Work', 'index' %>
  </section>

  <section class="footer-contact">
    <ul>
      <li><strong>Email</strong> tomelee@gmail.com</li>
    </ul>
  </section>
</footer>
