<footer>
  <section class="footer-links">
    <%= link_to 'About', 'about' %>
    <%= link_to 'Work', 'index' %>
  </section>

  <section class="footer-contact">
    <ul>
      <li><strong>Email</strong> tomelee@gmail.com</li>
      <li><strong>Phone</strong> 604-349-4320</li>
    </ul>
  </section>

  <section class="footer-social">
    <ul>
      <li><%= link_to 'Vimeo', '#' %></li>
      <li><%= link_to 'Facebook', '#' %></li>
    </ul>
  </section>
</footer>
