<footer>
  <section class="footer-contact">
    <h1>Contact</h1>
    <ul>
      <li><strong>Email </strong> tomelee@live.ca</li>
    </ul>
  </section>


  <section class="footer-links">
    <p class="scroll-top"><span class="orange">↑</span> Back to Top</p>
  </section>
</footer>
