<article>
  <figure class="mobile-figure">
    <% link_to(link, target: '_blank') do %>
      <%= image_tag image %>
    <% end %>
  </figure>

  <section class="white-section__text">
    <% link_to(link, target: '_blank') do %>
      <header><%= title %></header>
    <% end %>
    <small><%= role %></small>
  </section>

  <figure class="desktop-figure">
    <% link_to(link, target: '_blank') do %>
      <%= image_tag image %>
    <% end %>
  </figure>
</article>
