---
title: Tommy Lee
---

<div class="about-container">
<div class="container">

<nav>
  <%= link_to 'About', 'about', class: 'active' %>
  <%= link_to 'Work', 'index' %>
</nav>

<section class="hero-image">
  <div class="orange-divider">
    <div class="orange-line"></div>
  </div>
  <figure>
    <%= image_tag 'tommy-lee-headshot.jpg' %>
  </figure>
  <p><span>Hi,</span> I'm Tommy Lee</p>
</section>


<section class="about-section">
  <section class="bio">
    <h1>What I Do</h1>
    <p>
    I make really good movies. No, like really good. You
    couldn't do half the shit I could with those resources.
    You see that samile? That smile says I know how
    to write, cast and direct that vague amorphose muck of
    imagination you got going on in your head into a
    tangible masterpiece that will finally turn your life around.
    <br />
    I don't mess with around so only hit me up in the DM's if you
    got that PAPER son.
    </p>
  </section>

  <div class="orange-divider">
    <div class="orange-line"></div>
  </div>
</section>

</div>
</div>
