---
title: Tommy Lee
---

<div class="about-container">
<div class="container">

<nav>
  <%= link_to 'Work', 'index' %>
  <%= link_to 'About', 'about', class: 'active' %>
</nav>

<section class="hero-image">
  <div class="orange-divider">
    <div class="orange-line"></div>
  </div>
  <figure>
    <%= image_tag 'tommy-lee-headshot.jpg' %>
  </figure>
  <p><span>Hi,</span> I'm Tommy Lee</p>
</section>


<section class="about-section">
  <section class="bio">
    <h1>WHAT DO I DO</h1>
    <p>
    I direct, write, edit and produce stories. I strive to make high-concept
    entertainment that is surreal, fun, and reminds us we determine our own mindset.
    </p>

    <p>
    I interned at Prettybird (London, UK) to learn from music video professionals,
    the Oldenburg International Film Festival (Germany) to discover how great 
    independent films get exhibited, and had a screenwriting masterclass 
    doing reader’s reports for Brightlight Pictures (Vancouver, Canada).
    In 2017, I graduated from Capilano University’s Bachelor of Motion Picture Arts Program 
    with the Dean’s Award of Excellence.  
    </p>

    <p>
    In the next three to five years I intend to write and direct my first 
    feature film. Presently, I’m eager to direct commercials, music videos and
    short films. 
    </p>

    <p>
    If you like my work, I’d love to talk!
    </p>
  </section>

  <div class="orange-divider">
    <div class="orange-line"></div>
  </div>
</section>

</div>
</div>
