---
title: Tommy Lee
---
<section class="hero-image">
  <figure>
    <%= image_tag 'tommy-lee-headshot.jpg' %>
  </figure>
  <p><span>Hi,</span> I'm Tommy Lee</p>
</section>


<section class="about-section">
  <section class="bio">
    <p>
    Iʼve created a video service for podcasts, audiobooks + brands. 
    These are short, live-action visualizations of an idea. 
    Think of it like a ‘podcast trailer’. 
    The format explains itself better visually than in text, 
    so here are two examples:
    </p>

    <section class="bio-examples">
      <figure class="video">
        <iframe width="auto" height="auto" src="https://www.youtube.com/embed/Z_RofrfSECI" frameborder="0" allowfullscreen></iframe>
      </figure>

      <figure class="video">
        <iframe width="auto" height="auto" src="https://www.youtube.com/embed/Ixy48pEGynU" frameborder="0" allowfullscreen></iframe>
      </figure>
    </section>

    <p>
    If this is a useful tool for your current work, Iʼd love to talk!
    I want to help entrepreneurs and creatives share meaningful ideas with
    compelling visuals.
    </p>

    <p>
    Thank you, <br/>
    Tommy Lee
    </p>

  </section>
</section>


<%= partial 'footer' %>
