<section class="hero-display--video">
  <figure>
    <%= image_tag 'make-it.jpg' %>
    <header class="scroll">
      Make It<br />
      <small>Writer // Director // Producer</small>
    </header>
  </figure>
</section>


<section class="video-show">
  <section class="video-awards">
  </section>
  <figure id="video" class="multiple">
    <iframe width="704" height="396" src="https://www.youtube.com/embed/HIYN-GfOEuk" frameborder="0" allowfullscreen></iframe>
    <iframe width="704" height="396" src="https://www.youtube.com/embed/_AmErL3Bqxg" frameborder="0" allowfullscreen></iframe>
  </figure>
  <section class="video-description">
    <p>
    A series of vignettes made for social media that spotlight the five key artisanal categories of the Make It trade show.
    </p>
  </section>
</section>

<%= partial 'footer-white' %>
