<%= partial 'single_page', locals: {
  image: 'reel.jpg',
  title: 'Tommy Lee: <span class="line-break">Sizzle Reel</span>',
  role: 'Editor',
  link: 'https://www.youtube.com/embed/YB5wFZWyfjg',
  awards: [],
  description: 'Visual highlights from a sample of my films from 2013 to 2017'
} %>

<%= partial 'footer-white' %>
